
.ocultar-carrito{
    display: none;
}

.mostrar-carrito{
    position: fixed !important;
    width: 100%;
    height: 100%;
    background-color: rgb(228, 27, 211);
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
}
.scroll{
    overflow: hidden;
}
.scroll:-webkit-scrollbar{
    display: none;
}

.cont-close-precio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.boton-cerrar{
    align-self: flex-end;
    padding: 5px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    
    
}
.cerrar-carrito-img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}


.cont-carrito-productos{
    height: unset !important;
    display: flex;
    flex-direction: column;
    overflow: auto;
    
}

.cont-producto-boton{
    width: 80%;
    margin-left: 30px;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: rgb(253, 100, 240);
    
}
    

.unidad-producto-view{
    width: 30%;
    border: 2px solid #ccc;
    border-radius: 24px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    background-color: rgb(234, 187, 240);
}
.unidad-producto-view > .producto > h4{
    font-size: 20px !important;
    text-decoration: none;
}

.boton-eliminar-del-carrito{
    height: 20%;
    width: 20%;
    border: 1px solid white;
    border-radius: 24px;
    background-color: rgb(234, 187, 240);
    cursor: pointer;
    margin: 20px;
}

.cont-empty{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center  ;

}


.a-url-tienda{
    font-size: 20px;
    color: black;
}

.boton-carrito{
    border-radius: 50%;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    position: fixed;
    left: 20px;
    bottom: 20px;


}
.ocultar-boton-finalizar{
    display:none
}

.boton-finalizar-compra{
    display: block;
    width: 30%;
    align-self: center;
    height: 60px;
    border-radius: 24px;
    background-color: rgb(234, 187, 240);
    margin-bottom: 5px;
}


#img-carrito{
    
    width: 40px;
    height: 40px;
    
}


@media (max-width: 650px){
    .cont-producto-boton{
        width: 99%;
        margin-left: 0;
        flex-direction: column;
    }
    .unidad-producto-view{
        width: 80%;
    }

    .boton-eliminar-del-carrito{
        width: 60%;
    }
}

