.section-cont-producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.cont-producto-seleccionados{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.titulo-producto-seleccionado{
    align-self: flex-start;
    margin-left: 25px;
    padding: 15px;
    background-color: rgb(222, 144, 233);
}
.cont-producto-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.cont-producto{
    border: 2px solid black; 
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 15px;
    border-radius: 10px;
    background-color: rgb(234, 187, 240);
}


.content-precio-compra{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}
.boton-comprar{
    border-radius: 10px;
    background-color: rgb(216, 50, 50);
    width: 40%;
    height: 50px;
    border: none;
    list-style: none;
    transition: .5s;
    font-size: 20px;
    font-weight:1000;
    color: white;
}
.precio-producto{
    font-size: 20px;
}

.boton-comprar:hover{
    background-color: wheat;
    scale: 1.05;
    border: 1px solid black;
    color: black;
}

.search{
    width: 50%;
    height: 40px;
    background-color: rgb(222, 144, 233);
    color: black;
    margin: 10px;
    font-size: large;
    border-radius: 10px;
    text-align: center;
    
}

.cont-parcial-productos{
    margin: 0px 100px;
    border: 1px solid;
    width: 80%;
    height: 600px;
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    align-self: center;
}

.ocultar-producto{
    display:none;
}
.cont-total-producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.boton-mostrar-todo{
    display: flex;
    margin: 10px;
    border-radius: 10px;
    height: 40px;
    width: 110px;
    align-items: center;
    justify-content: center;
    border: none;
    color:white;
    background-color: brown;
    font-size: 20px;
    font-weight: 600;
    transition: all 1s;
}
.boton-mostrar-todo:hover{
    border: 1px solid black;
    color:rgb(5, 3, 3);
    background-color: white;
    scale: 1.2;
}


.cont-parcial-productos::-webkit-scrollbar{
    display: none;
}


@media (max-width: 1200px) {
    .cont-producto{width: 45%;}
}

@media (max-width: 860px){
    
    .content-precio-compra{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
    }
    .boton-comprar{
        width: 100%;
    }
}
@media (max-width: 856px){
    .cont-parcial-productos{
     flex-direction: column;
    } 
 }

@media (max-width: 680px){
    .content-precio-compra{
        flex-direction: row;
        justify-content: space-evenly;
        margin: 10px;

    }
    .cont-producto{
        width: 80%;
    }
    .boton-comprar{
        font-size: 15px;
        width: 45%;
    }
}