.App {
  text-align: center;
  background-color: rgb(240, 222, 229);
}
h2,h3,h4{
  font-family: 'Tektur', cursive;
  font-size: 30px;
}
p{font-family: 'Kanit', sans-serif;}




.seccion-venta{
  display: flex; 
  flex-direction: column;
  
}

.div-venta{
  display: flex;
  flex-direction: row;
}


@media only screen and (max-width : 1500px) {
  h2 {
    font-size: 50px;
  } 

  a{
    font-size: 10px;
  }
}
