.App {
  text-align: center;
  background-color: rgb(240, 222, 229);
}
h2,h3,h4{
  font-family: 'Tektur', cursive;
}
p{font-family: 'Kanit', sans-serif;}


.seccion-venta{
  display: flex; 
  flex-direction: column;
  
}

.div-venta{
  display: flex;
  flex-direction: row;
}


